body, html {
  height: 100%;
}

#root {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

main .container {
  background-image:  linear-gradient(to right, rgba(0,0,0, 0) 20%,rgba(0,0,0, 1) 100%), linear-gradient(to left, rgba(0,0,0, 0) 20%,rgba(0,0,0, 1) 100%), 
  url('../images/background-men-clothes.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  text-align: left;
  width: 1400px;
  margin: 0px 80px;
}

h1 {
  margin: 0;
}

.hero {
  padding: 150px 120px;
  font-size: 2.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.hero p {
  font-size: 1.4rem;
}

.large-button {
  background-color: rgba(255, 255, 255, 0);
  outline: 2px solid white;
  border: 1px solid rgba(255, 255, 255, 0);
  color: white;
  width: min-content;
  font-size: 1.2rem;
  padding: 10px 40px;
}

.large-button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}