nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  width: 1400px;
}


nav .container ul {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

nav a {
  color: black;
  text-decoration: none;
}

nav .nav-link {
  padding: 10px 20px;
}

nav .nav-link:hover {
  border-bottom: 2px solid black;
}
